* {
	box-sizing: border-box;
}

body{
	font-family: 'Playfair Display', serif, 'Raleway', sans-serif;
	color: #555557;
	background: linear-gradient(to right, #cad1d1 0%,#cad1d1 40%,#96d3d4 100%);
}

img {
	width: 100%;
	display: block;
}

#home{
  padding: 0px;
}

.row{
	padding-right: 0px;
	padding-left: 0px;
  margin: 0px;
}

@import "./imports/_navbar.scss";
@import "./imports/_intro.scss";
@import "./imports/_about.scss";
@import "./imports/_portfolio.scss";
@import "./imports/_contact.scss";
