
* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica;
}

img {
	width: 100%;
	display: block;
}

.navbar{
  background-color: #555557;
}

li{
	list-style-type: none;
	display: inline-block;
	float: right;
	padding: 20px 20px 20px 0px;
}

a:link{
	color: #96D3D4; !important;
}

a:hover {
	color: #96D3D4;
	text-decoration: none;
}

.jumbotron{
  background-image: url(../images/CHS-skyline.jpg);
  background-size: cover;
	height: 300px;
  margin: 0;
  position: relative;
	opacity: .7;

}

.about-text{
	position: absolute;
	width: 100%;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
	color: #2b2b2b;
	/*background: rgba(255, 255, 255, .3);*/

	/*font-size: 40px;*/
}

#portfolio{
	height: 500px;
	background-color: #96D3D4;
}
