/****** DOC ******/

#app-container{
	visibility: visible;
}

* {
	box-sizing: border-box;
}

body{
	font-family: 'Playfair Display', serif;
	font-family: 'Raleway', sans-serif;
	color: #555557;
}

img {
	width: 100%;
	display: block;
}
/****** NAVBAR ******/
.navbar{
  background-color: #555557;
}

li{
	list-style-type: none;
	display: inline-block;
	float: right;
	padding: 20px 20px 20px 0px;
}

a:link{
	color: #96D3D4; !important;
}

a:hover {
	color: #96D3D4;
	text-decoration: none;
}
/****** ABOUT ******/
.jumbotron{
  background-image: url(../images/CHS-skyline.jpg);
  background-size: cover;
	height: 300px;
  margin: 0;
  position: relative;
	opacity: .7;

}

.about-text{
	font-family: 'Playfair Display';
	position: absolute;
	width: 100%;
 	top: 55%;
 	left: 50%;
 	transform: translate(-50%, -50%);
	color: #000000;
	/*background: rgba(255, 255, 255, .3);*/

	/*font-size: 40px;*/
}

/****** PORTFOLIO ******/

#portfolio{
	background: linear-gradient(to right, #cad1d1 0%,#cad1d1 40%,#96d3d4 100%);
	color: #555557;
}

.media{
	padding: 50px 200px 50px 200px;
}

.media-left{
	padding-right: 50px;
}

.portfolio-img{
	width: 300px;
}

.media-heading{
	padding-bottom: 15px;
	font-family: 'Playfair Display';
}

hr{
	margin: 0px;
}
