#about{
	background-color: #FCFCF7;
	padding-top: 50px;
	padding-bottom: 50px;
}

// .about-img{
// 	width: 400px;
// }

// .about{
// 	padding: 50px 100px 50px 100px;
// }

// ABOUT TEST
.about{
	padding-left: 100px;
  padding-right: 100px;
}

.col-xs-12{
  padding: 25px;
}

.col-sm-6{

}

.about-heading_mobile{
  padding-left: 25px;
  padding-right: 25px;
}

.about-heading{
  display: none;
}

.about-text{
	font-family: 'Raleway';
	font-size: 17px;
}

@media screen and (min-width: 768px){

  .about-heading_mobile{
    display: none;
  }

  .about-heading{
    display: inline-block;
    margin: 0px;
    padding-bottom: 25px;
  	font-family: 'Playfair Display';
  }

}

@media screen and (min-width: 992px){



}

@media screen and (min-width: 1200px){



}
