#portfolio{
padding-top: 50PX;
}

hr{
	margin: 0px;
}
// 
// .portfolio-heading_main {
// 	padding-left: 100px;
// }
//
// .brewsmuse{
// 	padding-left: 100px;
// 	padding-right: 100px;
// }
//
// .brewsmuse .img-right{
// 	padding-left: 50px;
// }

.col-xs-12{
  padding: 25px;
}

.portfolio-heading_mobile{
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio-heading{
  display: none;
}

.portfolio-text{
	font-family: 'Raleway';
	font-size: 17px;
}

.portfolio-text span{
	text-decoration: underline;
}

@media screen and (min-width: 768px){
  .portfolio{
    padding:25px;
  }

  .portfolio-heading_mobile{
    display: none;
  }

  .portfolio-heading{
    display: inline-block;
    margin: 0px;
    padding-bottom: 25px;
  	font-family: 'Playfair Display';
  }

}

@media screen and (min-width: 992px){
  .portfolio{
    padding: 50px 100px 50px 100px;
  }


}

@media screen and (min-width: 1200px){



}
